@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

main {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}

#visual-handbook-page {
  color: rgba(255, 255, 255, 0.85);
}

@media (hover: hover) {
  ::-webkit-scrollbar {
    width: 18px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    margin-block: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    border: 6px solid #111;
    background: #333;
    border-radius: 100vmax;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #666;
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 22vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  z-index: -2;
  top: 50%;
  pointer-event: none;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, #2563eb, #5182ef);
  animation: rotate 20s infinite;
  opacity: 0.8;
}

#blur {
  height: 100%;
  width: 100%;
  inset: 0;
  pointer-event: none;
  z-index: -1;
  position: absolute;
  backdrop-filter: blur(12vmax);
}
