@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

main {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}

#visual-handbook-page {
  color: rgba(255, 255, 255, 0.85);
}

@media (hover: hover) {
  ::-webkit-scrollbar {
    width: 18px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    margin-block: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    border: 6px solid #111;
    background: #333;
    border-radius: 100vmax;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #666;
  }
}
